@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --neutral-lightest: #EEE;
    --neutral-darkest: #000;
}
.mapboxgl-popup-content {
    display: flex;
    width: 324px;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    border-radius: 0;
    box-shadow: none;
    color: var(--neutral-darkest);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.mapboxgl-popup-close-button {
    top: 3px;
    right: 9px;
}

.map-popup--content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.map-popup--content__inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.map-popup--content__headline {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.map-popup--is-accessible {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 8px;
    padding: 4px 8px;
    font-weight: 600;
    background-color: var(--neutral-lightest);
    line-height: 1;
}

.map-popup--is-accessible:before {
    content: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.75 5.25C16.7165 5.25 17.5 4.4665 17.5 3.5C17.5 2.5335 16.7165 1.75 15.75 1.75C14.7835 1.75 14 2.5335 14 3.5C14 4.4665 14.7835 5.25 15.75 5.25Z' fill='black'/%3E%3Cpath d='M15.6065 10.5123L11.8046 11.1466L14.6834 7.54777C14.7592 7.453 14.8144 7.34351 14.8456 7.22625C14.8768 7.10899 14.8832 6.98653 14.8645 6.86663C14.8459 6.74674 14.8025 6.63205 14.7371 6.52983C14.6717 6.42762 14.5858 6.34012 14.4848 6.2729L9.23475 2.7729C9.06648 2.66049 8.86442 2.60995 8.66304 2.6299C8.46167 2.64984 8.27345 2.73904 8.1305 2.88227L4.6305 6.38227L5.86775 7.61952L8.86025 4.62702L11.1213 6.13465L8.77538 9.06765C7.98062 8.77508 7.1262 8.68207 6.28711 8.7968C5.44802 8.91153 4.64992 9.23047 3.96287 9.72565L5.2325 10.9953C5.76664 10.6748 6.3771 10.5037 7 10.5C8.93025 10.5 10.5 12.0698 10.5 14C10.5 14.6466 10.311 15.2469 10.0048 15.7675L11.2744 17.0371C11.9088 16.1515 12.2499 15.0894 12.25 14C12.25 13.6106 12.2036 13.2318 12.1231 12.8669L14.875 12.4084V17.5H16.625V11.375C16.6252 11.2479 16.5977 11.1223 16.5444 11.0069C16.4911 10.8915 16.4132 10.7892 16.3162 10.707C16.2192 10.6249 16.1054 10.5649 15.9829 10.5312C15.8603 10.4976 15.7318 10.4911 15.6065 10.5123ZM7 17.5C5.06975 17.5 3.5 15.9303 3.5 14C3.5 13.3534 3.689 12.7531 3.99525 12.2325L2.72563 10.9629C2.09122 11.8485 1.75005 12.9106 1.75 14C1.75 16.8954 4.10462 19.25 7 19.25C8.13225 19.25 9.17875 18.886 10.0371 18.2744L8.7675 17.0048C8.23336 17.3253 7.6229 17.4963 7 17.5Z' fill='black'/%3E%3C/svg%3E");
    display: block;
    line-height: 0;
}

.map-popup-title {
    font-weight: 600;
    font-size: 16px;
}

.map-popup--is-parking {
    display: flex;
    gap: 8px;
    align-items: center;
}

.map-popup--is-parking:before {
    content: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M19.041 9.30975L17.787 5.54683C17.6051 4.99911 17.2552 4.52264 16.787 4.18513C16.3188 3.84762 15.7562 3.66624 15.1791 3.66675H6.8209C6.24375 3.66624 5.68113 3.84762 5.21296 4.18513C4.74479 4.52264 4.39489 4.99911 4.21298 5.54683L2.95898 9.30975C2.62587 9.44952 2.3414 9.68445 2.14117 9.98512C1.94094 10.2858 1.83385 10.6388 1.83331 11.0001V15.5834C1.83331 16.2737 2.22106 16.8686 2.78573 17.1812C2.77381 17.2417 2.74998 17.2967 2.74998 17.3599V19.2501C2.74998 19.4932 2.84656 19.7264 3.01847 19.8983C3.19037 20.0702 3.42353 20.1667 3.66665 20.1667H4.58331C4.82643 20.1667 5.05959 20.0702 5.23149 19.8983C5.4034 19.7264 5.49998 19.4932 5.49998 19.2501V17.4167H16.5V19.2501C16.5 19.4932 16.5966 19.7264 16.7685 19.8983C16.9404 20.0702 17.1735 20.1667 17.4166 20.1667H18.3333C18.5764 20.1667 18.8096 20.0702 18.9815 19.8983C19.1534 19.7264 19.25 19.4932 19.25 19.2501V17.3599C19.25 17.2967 19.2261 17.2407 19.2142 17.1812C19.5015 17.0245 19.7415 16.7936 19.909 16.5126C20.0765 16.2315 20.1655 15.9106 20.1666 15.5834V11.0001C20.1666 10.2402 19.701 9.5875 19.041 9.30975ZM3.66665 15.5834V11.0001H18.3333L18.3351 15.5834H3.66665ZM6.8209 5.50008H15.1781C15.5732 5.50008 15.9234 5.75125 16.0481 6.12708L17.0619 9.16675H4.93806L5.95098 6.12708C6.0118 5.94448 6.12855 5.78565 6.28469 5.67311C6.44083 5.56057 6.62843 5.50004 6.8209 5.50008Z' fill='black'/><path d='M5.95831 14.6667C6.7177 14.6667 7.33331 14.0511 7.33331 13.2917C7.33331 12.5324 6.7177 11.9167 5.95831 11.9167C5.19892 11.9167 4.58331 12.5324 4.58331 13.2917C4.58331 14.0511 5.19892 14.6667 5.95831 14.6667Z' fill='black'/><path d='M16.0416 14.6667C16.801 14.6667 17.4166 14.0511 17.4166 13.2917C17.4166 12.5324 16.801 11.9167 16.0416 11.9167C15.2823 11.9167 14.6666 12.5324 14.6666 13.2917C14.6666 14.0511 15.2823 14.6667 16.0416 14.6667Z' fill='black'/%3E%3C/svg%3E");
    display: block;
    line-height: 0;
}

.map-popup-link {
    display: flex;
    gap: 9px;
    align-items: center;
}
.map-popup-link:after {
    content: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.414 11.414L7.121 5.707L1.414 0L0 1.414L4.293 5.707L0 10L1.414 11.414Z' fill='black'/%3E%3C/svg%3E");
    display: block;
    line-height: 0;
    transition: transform .3s;
}


.map-popup-link:hover:after {
    transform: translateX(4px);
}